<div class="bg-white shadow-md flex justify-between items-center p-3">
  <div class="flex gap-7 md:flex md:gap-3 md:items-center">
    <img
      src="{{ orgLogo }}"
      alt="org_logo"
      class="w-32 object-cover md:max-h-40 md:max-w-40"
    />
    <div class="border-r hidden md:block border-blue-600 h-7"></div>
    <h1
      class="hidden md:block text-blue-950 font-rfont font-medium text-lg md:text-[18px] tracking-wider"
    >
      {{ orgName }}
    </h1>
  </div>

  <ul class="hidden md:flex items-center md:gap-5">
    <li
      routerLink="/"
      class="hover:bg-blue-900 px-6 py-1 border-b border-blue-800 cursor-pointer font-rfont font-medium text-gray-900 hover:text-white hover:border-pink-500"
    >
      Home
    </li>

    <li
      routerLink="/data"
      class="hover:bg-blue-900 px-6 py-1 border-b border-blue-800 cursor-pointer font-rfont font-medium text-gray-900 hover:text-white hover:border-pink-500"
    >
      Data
    </li>
    <li
      class="hover:bg-blue-900 px-6 py-1 border-b border-blue-800 cursor-pointer font-rfont font-medium text-gray-900 hover:text-white hover:border-pink-500"
    >
      Contact
    </li>
    <li
      class="hover:bg-blue-900 px-6 py-1 border-b border-blue-800 cursor-pointer font-rfont font-medium text-gray-900 hover:text-white hover:border-pink-500"
    >
      Services
    </li>
  </ul>

  <!-- Button Image -->
  <div class="hidden md:flex md:items-center gap-5">
    <div class="border rounded-full shadow-md">
      <img
        src="{{ userImage }}"
        alt="user_image"
        class="w-16 h-16 object-cover rounded-full"
      />
    </div>
    <button
      routerLink="register"
      class="hidden md:flex items-center gap-2 border px-6 py-2 bg-blue-800 text-white rounded-md hover:text-blue-950"
    >
      <span>Register</span>
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>

  <span class="md:hidden cursor-pointer">
    <i
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
      class="fa-solid fa-bars text-[24px] text-blue-900 cursor-pointer"
    ></i>
  </span>
</div>

<!-- Mobile view Toggle Bootstrap  -->

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <div class="border-b w-full pb-3">
      <h1
        id="offcanvas-header"
        class="md:block text-blue-950 font-rfont font-medium text-lg md:text-[18px] tracking-wider"
      >
        Remiges Technology
      </h1>
    </div>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="flex flex-col gap-3 w-max-lg">
      <!-- <div class="border-b w-full pb-3">
        <h1
          id="offcanvas-header"
          class=" md:block text-blue-950 font-rfont font-medium text-lg md:text-[18px] tracking-wider"
        >
          Remiges Technology
        </h1>
      </div> -->

      <a
        routerLink="/"
        href=""
        class="w-full hover:bg-blue-900 text-black hover:text-white border-b py-2 px-2"
        data-bs-dismiss="offcanvas"
        routerLink="/"
        >Home</a
      >
      <a
        href=""
        routerLink="/data"
        class="w-full hover:bg-blue-900 text-black hover:text-white border-b py-2 px-2"
        data-bs-dismiss="offcanvas"
        routerLink="/data"
        >Data</a
      >
      <a
        href=""
        class="w-full hover:bg-blue-900 text-black hover:text-white border-b py-2 px-2"
        data-bs-dismiss="offcanvas"
        routerLink="/data"
        >Contact</a
      >
      <a
        href=""
        class="w-full hover:bg-blue-900 text-black hover:text-white border-b py-2 px-2"
        data-bs-dismiss="offcanvas"
        routerLink="/data"
        >About</a
      >

      <div class="">
        <button
          data-bs-dismiss="offcanvas"
          routerLink="/register"
          class="md:flex mt-4 mx-4 items-center gap-2 border px-6 py-2 text-white rounded-md bg-blue-800 hover:text-white"
        >
          <span class="mx-2">Register</span>
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
