<div>
  <i
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"
    class="fa-solid fa-bars"
  ></i>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <div class="border-b w-full pb-3">
      <h1
        id="offcanvas-header"
        class="hidden md:block text-blue-950 font-rfont font-medium text-lg md:text-[18px] tracking-wider"
      >
        Remiges Technology
      </h1>
    </div>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="flex flex-col gap-3 w-full">
      <a
        href=""
        class="w-full hover:bg-blue-900 text-black hover:text-white border-b py-2 px-2"
        data-bs-dismiss="offcanvas"
        routerLink="/data"
        >Home</a
      >
      <a
        href=""
        class="w-full hover:bg-blue-900 text-black hover:text-white border-b py-2 px-2"
        data-bs-dismiss="offcanvas"
        routerLink="/data"
        >Home</a
      >
      <a
        href=""
        class="w-full hover:bg-blue-900 text-black hover:text-white border-b py-2 px-2"
        data-bs-dismiss="offcanvas"
        routerLink="/data"
        >Home</a
      >
      <a
        href=""
        class="w-full hover:bg-blue-900 text-black hover:text-white border-b py-2 px-2"
        data-bs-dismiss="offcanvas"
        routerLink="/data"
        >Home</a
      >

      <div>
        <button
          routerLink="/register"
          class="md:flex mt-4 mx-4 items-center gap-2 border px-6 py-2 text-white rounded-md bg-blue-800 hover:text-white"
        >
          <span class="mx-2">Register</span>
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
